= form_for @setting, url: (@setting.new_record? ? create_setting_path : update_settings_path), builder: DiabeticToolbox::StandardFormBuilder do |f|
  .panel.panel-default
    .panel-heading.panel-title
      = t('views.settings.titles.measurements')
    .panel-body
      #settings_dependencies
        .row
          .half.smooth
            .form-group
              = f.label :glucometer_measure_type
              = f.select :glucometer_measure_type, glucometer_options(@setting), { include_blank: (true if @setting.new_record?) }
          .half.smooth
            .form-group
              = f.label :intake_measure_type
              = f.select :intake_measure_type, intake_options(@setting), { include_blank: (true if @setting.new_record?) }
  %div{ id: "#{'settings_for_calculation' if @setting.new_record?}" }
    .panel.panel-default
      .panel-heading.panel-title= t('views.settings.titles.settings')
      .panel-body
        .row
          .half.smooth
            .form-group
              = f.label :intake_ratio
              .input-group
                = f.text_field :intake_ratio
                #intake_measurement_addon.input-group-addon= bootstrap_addon_intake(@setting)
          .half.smooth
            .form-group
              = f.label :correction_begins_at
              .input-group
                = f.text_field :correction_begins_at
                #correction_begins_at_addon.input-group-addon= bootstrap_addon_glucometer(@setting)
        .row
          .half.smooth
            .form-group
              = f.label :increments_per
              .input-group
                = f.text_field :increments_per
                #increments_per_addon.input-group-addon= bootstrap_addon_glucometer(@setting, true)
          .half.smooth
            .form-group
              = f.label :ll_units_per_day
              .input-group
                = f.text_field :ll_units_per_day
                #ll_units_per_day_addon.input-group-addon= t('views.settings.ll_units_per_day_addon')
    .form-group.text-center
      = f.submit t('views.settings.save')
