.container-fluid
  .row
    .content-member-form
      = form_for @member, url: update_member_email_path do |f|
        .form-group
          = f.label :unconfirmed_email, class: 'control-label'
          = f.text_field :unconfirmed_email, class: 'form-control', autofocus: true, value: nil, placeholder: 'New Email'
        .form-group
          = f.label :unconfirmed_email_confirmation, class: 'control-label'
          = f.text_field :unconfirmed_email_confirmation, class: 'form-control', placeholder: 'Confirmed New Email'
        .text-center= f.submit 'Change', class: 'btn btn-default'