.container-fluid
  .row
    .content-member-form.smooth
      %h3= "#{@member.first_name} #{@member.last_name}"
      %h5
        = "#{@member.username}"
        .pull-right
          = @member.email
          = link_to content_tag(:span, '', class: 'fa fa-edit'), edit_member_email_path
= form_for @member, url: update_member_url do |f|
  .container-fluid
    .row
      .content-member-form.smooth
        .half.smooth
          %h4= t('views.members.form.labels.about_you')
          .form-group
            #dob-picker.input-group
              = f.text_field :dob, placeholder: t('views.members.form.placeholders.dob')
              %span#dob-addon.input-group-addon
                %span.glyphicon.glyphicon-calendar
          .form-group
            = f.select :gender, DiabeticToolbox::Member.gender_options, { include_blank: true }
          .form-group
            = f.select :time_zone, time_zone_options_for_select(@member.time_zone)
        .half.smooth
          %h4
            = t('views.members.form.labels.change_password')
          .form-group
            .input-group
              = f.password_field :password, placeholder: t('views.members.form.placeholders.password')
              %span.input-group-addon
                .glyphicon.glyphicon-lock
          .form-group
            = f.password_field :password_confirmation, placeholder: t('views.members.form.placeholders.confirm')
    .row
      .content-member-form.text-center.smooth
        .form-group
          = f.submit t('views.members.update.save')
          = link_to I18n.t('views.members.edit.cancel_membership'), last_chance_path, class: 'btn btn-warning btn-sm'
