.container-fluid
  .row
    .content-register.smooth
      %h3= t('views.members.new.header')
      #member-welcome
        %p
          %span.glyphicon.glyphicon-info-sign
          = t('views.members.new.primer')
= form_for @member, url: create_member_url do |f|
  .container-fluid
    .row
      .content-register.smooth
        .half.smooth
          %h4
            = t('views.members.new.your_name')
            %span.glyphicon.glyphicon-asterisk.asterisk
          .form-group
            = f.text_field :first_name, class: 'form-control input-sm', autofocus: true, placeholder: t('views.members.new.placeholders.first_name'), tabindex: 1
          .form-group
            = f.text_field :last_name, class: 'form-control input-sm', placeholder: t('views.members.new.placeholders.last_name'), tabindex: 2
        .half.smooth
          %h4
            = t('views.members.new.account')
            %span.glyphicon.glyphicon-asterisk.asterisk
          .form-group
            .input-group
              = f.text_field :email, class: 'form-control input-sm', placeholder: t('views.members.new.placeholders.email'), tabindex: 3
              %span.input-group-addon
                .glyphicon.glyphicon-envelope
          .form-group
            .input-group
              = f.text_field :username, class: 'form-control input-sm', placeholder: t('views.members.new.placeholders.username'), tabindex: 4
              %span.input-group-addon
                .glyphicon.glyphicon-user
          .form-group
            .input-group
              = f.password_field :password, class: 'form-control input-sm', placeholder: t('views.members.new.placeholders.password'), tabindex: 5
              %span.input-group-addon
                .glyphicon.glyphicon-lock
          .form-group
            = f.password_field :password_confirmation, class: 'form-control input-sm', placeholder: t('views.members.new.placeholders.confirm'), tabindex: 6
    .row
      .content-register.smooth
        .half.smooth
          %h4.optional= t('views.members.new.dob')
          .form-group
            #dob-picker.input-group
              = f.text_field :dob, class: 'form-control input-sm', placeholder: t('views.members.new.placeholders.dob'), tabindex: 8
              %span#dob-addon.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .half.smooth
          %h4.optional= t('views.members.new.gender')
          .form-group
            = f.select :gender, DiabeticToolbox::Member.gender_options, { include_blank: true }, {class: 'form-control input-sm', tabindex: 9}
    .row
      .content-register.smooth
        .form-group
          %label#accept-terms.checkbox-inline
            = f.check_box :accepted_tos, tabindex: 7
            = t('views.members.new.tos_pre')
            = link_to t('views.members.new.tos'), '#', data: {toggle: 'modal', target: '#terms'}
    .row
      .content-register.text-center.smooth
        .form-group
          = f.submit t('views.members.new.register'), class: 'btn btn-default btn-sm'

#terms.modal.fade{role: :dialog, 'aria-labelledby': t('views.members.new.tos')}
  .modal-dialog.modal-lg{role: :document}
    .modal-content
      .modal-header
        %h4.modal-title= t('views.members.new.terms')
      .modal-body
        = render partial: 'tos'
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal'}= t('views.modal.close')
