.container-fluid
  .row
    .text-center= render_member_navigation :readings, :readings_history
    .content-member
      - if current_member.has_no_readings?
        .text-center= I18n.t('views.readings.index.no_readings')
      - else
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th= I18n.t('views.readings.index.columns.reading')
              %th= I18n.t('views.readings.index.columns.when')
              %th.hidden-xs= I18n.t('views.readings.index.columns.intake')
              %th.text-right= I18n.t('views.readings.index.columns.test_time')
          %tbody
            - @readings.each do |reading|
              %tr
                %td
                  = reading.glucometer_value
                  %span.hidden-xs= glucometer_type current_setting
                %td= t "views.readings.common.meal_options.#{reading.meal.to_s}"
                %td.hidden-xs= "#{reading.intake} #{intake_type(current_setting)}"
                %td.text-right
                  %span.hidden-xs.hidden-sm= "#{time_ago_in_words( Time.zone.parse(reading.test_time.to_s) )} ago"
                  %span.hidden-xs.hidden-sm= "(#{Time.zone.parse(reading.test_time.to_s).strftime('%D')})"
                  %span.hidden-md.hidden-lg.hidden-desktop= Time.zone.parse(reading.test_time.to_s).strftime('%D')
        = paginate @readings, theme: 'diabetic_toolbox', subject: @readings
    .buffer