= DiabeticToolbox::Navigator.course( :members ).inspect
.container-fluid
  .row
  = render_member_navigation :recipes
  .content-recipe-form
    %h3 New Recipe
    = form_for @recipe, url: create_recipe_path do |f|
      .form-group
        = f.label :name
        = f.text_field :name, autofocus: true
      .form-group
        = f.label :servings
        = f.text_field :servings
      .text-center= f.submit 'Save'
