.container-fluid
  .row
    .content-member-form
      %h3 Change Email
      .take-notice
        %p
          %span.glyphicon.glyphicon-info-sign
          = t('views.member_sessions.edit_email.primer')
  .row
    .content-member-form
      = form_for @member, url: update_member_email_path do |f|
        .form-group
          = f.label :unconfirmed_email
          = f.text_field :unconfirmed_email, autofocus: true, placeholder: t('views.member_sessions.edit_email.placeholders.new_email')
        .form-group
          = f.label :unconfirmed_email_confirmation
          = f.text_field :unconfirmed_email_confirmation, placeholder: t('views.member_sessions.edit_email.placeholders.confirmed_new_email')
        .text-center= f.submit t('views.member_sessions.edit_email.change')
