.container-fluid
  .row
    #sign-in.content-login.smooth
      .panel.panel-default
        .panel-heading.panel-title= t('navigation.authentication.common.title')
        .panel-body
          = form_for @member, url: begin_session_path, builder: DiabeticToolbox::StandardFormBuilder do |f|
            .form-group
              = f.label :email
              = f.text_field :email, autofocus: true
            .form-group
              = f.label :password
              = f.password_field :password
            .form-group
              = f.submit t('navigation.authentication.common.sign_in')
              = link_to t('navigation.authentication.common.forgot_password'), password_recovery_path, class: 'btn btn-info btn-sm pull-right'
