.container-fluid
  .row
    .content-member-form
      %h3= t('views.member_sessions.password_recovery.heading')
  .row
    .content-member-form
      %p= t('views.member_sessions.password_recovery.primer')

  .row
    .content-member-form
      = form_for @member, url: recovery_kit_path do |f|
        .form-group
          = f.label :email, class: 'control-label'
          = f.text_field :email, class: 'form-control', placeholder: 'name@example.com'
        .text-center
          = f.submit t('views.member_sessions.password_recovery.recover'), class: 'btn btn-default'