.container-fluid
  .row
    .content-member-form
      %h3= t('views.member_sessions.recover.set_password')
  .row
    .content-member-form
      %p= t('views.member_sessions.recover.primer')
  .row
    .content-member-form
      = form_for @member, url: release_membership_path(params[:token]), builder: DiabeticToolbox::StandardFormBuilder do |f|
        .form-group
          = f.label :password
          = f.password_field :password
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        .text-center
          = f.submit t('views.member_sessions.recover.finish')
